# This is a basic workflow to help you get started with Actions

name: CI_BUILD

# Controls when the action will run. Triggers the workflow on push
# events but only for the master branch
on:
  push:
    # only trigger on branches, not on tags
    branches: '**'
    paths-ignore:
      - 'docs/**'

# This workflow contains two jobs called "check_opendds", "build_opendds_windows", "check_changes", "build_ddm_windows"
jobs:
  # Verify if a build is needed
  check_changes:
    name: Check changed files
    outputs:
      run_build_windows: ${{ steps.check_files.outputs.run_build_windows }}
    runs-on: ubuntu-latest
    steps:
      - id: get_changed_files
        uses: masesgroup/retrieve-changed-files@v3
        with:
          format: 'csv'
      - id: check_files
        run: |
          mapfile -d ',' -t added_modified_files < <(printf '%s,' '${{ steps.get_changed_files.outputs.added_modified }}')
          for added_modified_file in "${added_modified_files[@]}"; do
              if [[ $added_modified_file == ".github/workflows/build.yaml"* ]]; then
                echo "$added_modified_file is myself."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
              if [[ $added_modified_file == "src/"* ]]; then
                echo "$added_modified_file file is under the directory 'src/'."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
          done
      - name: Get run_build_windows
        run: echo "The selected run_build_windows is ${{ steps.check_files.outputs.run_build_windows }}"

  # Now run "build_ddm_windows"
  build_windows:
    needs: check_changes
    if: "always() && needs.check_changes.outputs.run_build_windows == 'true'"
    # The type of runner that the job will run on
    runs-on: windows-2022

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:   
      # Runs a set of commands using the runners shell
      # Support longpaths
      - name: Support long paths
        run: git config --system core.longpaths true
      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5
        with:
          submodules: 'true'

      - uses: nuget/setup-nuget@v2
        with:
          nuget-version: '5.x'
          
      - run: nuget restore src\net\CLIParser.sln

      - name: Compile 
        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" tests\net\CLIParserTest.sln

      - name: Test 
        run: |
          dotnet run --framework net462 --project tests\net\CLIParserTest\CLIParserTest.csproj
          dotnet run --framework net8.0 --project tests\net\CLIParserTest\CLIParserTest.csproj
          dotnet run --framework net9.0 --project tests\net\CLIParserTest\CLIParserTest.csproj

      - name: Create Release
        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" src\net\CLIParser.sln

      - uses: actions/upload-artifact@v6
        with:
          name: CLIParser
          path: .\bin\*nupkg
