# This is a basic workflow to help you get started with Actions

name: CI_PULLREQUEST

# Controls when the action will run. Triggers the workflow on pull request
# events but only for the master branch
on:
  pull_request:
    branches: 
      - master
      - release/**
    paths-ignore:
      - 'docs/**'

jobs:
  # This workflow contains a single job called "build_release"
  build_pullrequest:
    # The type of runner that the job will run on
    runs-on: windows-2022
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a set of commands using the runners shell
      # Support longpaths
      - name: Support long paths
        run: git config --system core.longpaths true
      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it                                                                                  
      - uses: actions/checkout@v5
        with:
          submodules: 'true'

      - uses: nuget/setup-nuget@v2
        with:
          nuget-version: '5.x'
      - run: nuget restore src\net\CLIParser.sln
      
      - name: Compile 
        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" tests\net\CLIParserTest.sln

      - name: Test 
        run: |
          dotnet run --framework net462 --project tests\net\CLIParserTest\CLIParserTest.csproj
          dotnet run --framework net8.0 --project tests\net\CLIParserTest\CLIParserTest.csproj
          dotnet run --framework net9.0 --project tests\net\CLIParserTest\CLIParserTest.csproj

      - name: Create Release
        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" src\net\CLIParser.sln
